#on property:vendor.post_boot.parsed=1

on property:persist.baikal.srv.dolby=1
    enable dms-hal-2-0
    setprop persist.baikal.lib.gamedap 0
    setprop persist.baikal.lib.vqe 0
    setprop persist.baikal.lib.dap 0
    setprop persist.baikal.eff.gamedap 0
    setprop persist.baikal.eff.vqe 0
    setprop persist.baikal.eff.dap 0 
    setprop sys.audio.restart.hal 1

on property:persist.baikal.srv.dolby=0
    stop dms-hal-2-0
    setprop persist.baikal.lib.gamedap 1
    setprop persist.baikal.lib.vqe 1
    setprop persist.baikal.lib.dap 1 
    setprop persist.baikal.eff.gamedap 1
    setprop persist.baikal.eff.vqe 1
    setprop persist.baikal.eff.dap 1
    setprop sys.audio.restart.hal 1

on property:persist.baikal.srv.jdsp=1
    setprop persist.baikal.lib.jdsp 0
    setprop persist.baikal.eff.jdsp 0
    setprop sys.audio.restart.hal 1

on property:persist.baikal.srv.jdsp=0
    setprop persist.baikal.lib.jdsp 1
    setprop persist.baikal.eff.jdsp 1
    setprop sys.audio.restart.hal 1

on property:persist.baikal.srv.afx=1
    setprop persist.baikal.lib.reverb 0
    setprop persist.baikal.lib.loudness_enhancer 0
    setprop persist.baikal.lib.audiosphere 0
    setprop persist.baikal.lib.shoebox 0

    setprop persist.baikal.eff.bassboost 0
    setprop persist.baikal.eff.virtualizer 0
    setprop persist.baikal.eff.equalizer 0
    setprop persist.baikal.eff.reverb_env_aux 0
    setprop persist.baikal.eff.reverb_env_ins 0
    setprop persist.baikal.eff.reverb_pre_aux 0
    setprop persist.baikal.eff.reverb_pre_ins 0
    setprop persist.baikal.eff.loudness_enhancer 0
    setprop persist.baikal.eff.audiosphere 0
    setprop persist.baikal.eff.shoebox 0

    setprop sys.audio.restart.hal 1

on property:persist.baikal.srv.afx=0
    setprop persist.baikal.lib.reverb 1
    setprop persist.baikal.lib.loudness_enhancer 1
    setprop persist.baikal.lib.audiosphere 1
    setprop persist.baikal.lib.shoebox 1

    setprop persist.baikal.eff.bassboost 1
    setprop persist.baikal.eff.virtualizer 1
    setprop persist.baikal.eff.equalizer 1
    setprop persist.baikal.eff.reverb_env_aux 1
    setprop persist.baikal.eff.reverb_env_ins 1
    setprop persist.baikal.eff.reverb_pre_aux 1
    setprop persist.baikal.eff.reverb_pre_ins 1
    setprop persist.baikal.eff.loudness_enhancer 1
    setprop persist.baikal.eff.audiosphere 1
    setprop persist.baikal.eff.shoebox 1

    setprop sys.audio.restart.hal 1

#on property:persist.baikal.misound.enable=1
#    setprop sys.audio.restart.hal 1

#on property:persist.baikal.misound.enable=0
#    setprop sys.audio.restart.hal 1

on property:persist.baikal.audio_hq=*
    setprop sys.audio.restart.hal 1


on property:baikalos.ovr.boost.silver=*
    write /sys/module/sched/parameters/boost_override_silver ${baikalos.ovr.boost.silver:--1}

on property:baikalos.ovr.boost.gold=*
    write /sys/module/sched/parameters/boost_override_gold ${baikalos.ovr.boost.gold:--1}

